* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
  color: #36393D;
}

#mypage-header {
  background-color: #3F4C6B;
  text-align: center;
  color: #FFFFFF;
  padding: 25px;
}

#mypage-header h1 {
  margin: 0;
  font-size: 2.5em;
}

#mypage-body {
  display: flex;
  margin: 20px auto;
  width: 98%;
  padding: 20px;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
}

#mypage-leftnav {
  width: 20%;
  padding: 20px;
  background-color: #EEEEEE;
}

#mypage-leftnav h2 {
  font-size: 1.5em;
  color: #36393D;
}

#mypage-leftnav a {
    display: block;
    text-decoration: none;
    color: #356AA0;
    font-size: 1.1em;
    margin-bottom: 20px;
}

#mypage-leftnav a:hover {
    color: #3F4C6B;
    text-decoration: underline;
}


#mypage-centercontent {
  width: 80%;
  padding: 20px;
  line-height: 1.6;
}

#mypage-centercontent h2 {
  font-size: 1.5em;
  color: #36393D;
}

#mypage-centercontent h3 {
  font-size: 1.2em;
  color: #3F4C6B;
}

#mypage-centercontent h4 {
  font-size: 1.1em;
  color: #3F4C6B;
}

/* #mypage-centercontent hr {
  border: 0;
  border-top: 1px solid #EEEEEE;
} */

.edu-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
}

.edu-details {
  width: 70%;
}

.edu-year {
  width: 30%;
  text-align: right;
}

#work-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    color: #36393D;
    font-size: 1em;
}

.company {
    color: #3F4C6B;
    font-size: 1.1em;
}

.tech {
    font-style: italic;
    color: #3F4C6B;
}

#mypage-footer {
  background-color: #2c3e50;
  text-align: center;
  color: #FFFFFF;
  padding: 20px;
}

#mypage-footer h3 {
  margin: 0;
  font-size: 1.5em;
}

#mypage-footer a {
  color: #FFFFFF;
  text-decoration: none;
}

#mypage-footer a:hover {
  text-decoration: underline;
}

.user-interaction {
  background-color: #FFFFFF;
  padding: 20px;
  border: 1px solid #EEEEEE;
  width: 30px auto;
}

.user-interaction h2 {
  font-size: 1.5em;
  color: #36393D;
  margin-bottom: 10px;
}

.interaction {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #EEEEEE;
}

.interaction input {
  padding: 8px;
  margin: 5px;
}

.interaction input[type="button"] {
  padding: 8px 12px;
  background-color: #3F4C6B;
  color: #FFFFFF;
  cursor: pointer;
}

.interaction button:hover {
  background-color: #36393D;
}

.interaction div {
  margin: 5px 0;
  padding: 6px;
}

.interaction div span {
  font-weight: bold;
  color: #3F4C6B;
}