/* box sizing to border-box for all elements, to make it easier to calculate box width and height */
* {
	box-sizing: border-box;
}

/* basic styling for the page */
body {
	margin: 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: #F9F7ED;
	color: #36393D;
}

/* header styles */
#mypage_header {
	background-color: #D15600;
	text-align: center;
	color: #FFFFFF;
	padding: 25px;
	position: fixed;  /* fixed header at the top */
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	box-shadow: 0 2px 6px #6BBA70;
}

#mypage_header h1 {
	margin: 0;
	font-size: 2.75em;
	letter-spacing: 2px;
}

/* page body styles */
#mypage_body {
	display: flex;
	flex-direction: row-reverse;  /*to move navigation bar to the right side;*/
	margin: 20px auto;
	margin-top: 90px;
	width: 98%;
	padding: 20px;
	background-color: #FFFFFF;
	border: 1px solid #FF7400;
}

/* right navigation bar styles */
#mypage_leftnav {
	width: 20%;
	background-color: #F9F7ED;
}

#sticky_content {
	width:100%;
	top: 100px;
	padding: 10px 20px 20px;
	align-self: start;
	position: sticky;
}

#sticky_content h2 {
	font-size: 1.75em;
	color: #B02B2C;
}

/* style navigation links */
#sticky_content a {
	display: block;
	text-decoration: none;
	color: #B02B2C;
	font-size: 1.1em;
	margin-bottom: 20px;
}

/* change link appearance when mouse is over it */
#sticky_content a:hover {
	color: #D15600;
	text-decoration: underline;
}

/* center content styles */
#mypage_centercontent {
	width: 80%;
	padding: 20px;
	line-height: 1.6;
}

#mypage_centercontent h2 {
	font-size: 1.75em;
	color: #B02B2C;
}

#mypage_centercontent h3 {
	font-size: 1.5em;
	color: #D15600;
}

#mypage_centercontent h4 {
	font-size: 1.25em;
	color: #B02B2C;
}

@media (max-width: 850px) {
	#mypage_leftnav {
		width: 40%
	}
}

#mypage_centercontent section {
	scroll-margin-top: 130px; /*to prevent content hiding behind the header*/
}

/*education section styles */
.edu-item {
	display: flex;
	justify-content: space-between; /* placing education details and year and gpa info side by side using flexbox */
	margin-bottom: 20px;
	padding: 10px;
}

.edu-details {
	width: 70%;
}

.edu-year {
	width: 30%;
	text-align: right;
}

/* work experience section styles */
#work_header {
	display: flex;
	justify-content: space-between; /* placing header and year info side by side using flexbox */
	align-items: center;
	height: 40px;
}

.time {
	color: #B02B2C;
	font-size: 1.1em;
}

.company {
	color: #B02B2C;
	font-size: 1.2em;
}

/* project details section styles */
.tech {
	font-style: italic;  /* technologies written in italics to differentiate from other text */
	color: #B02B2C;
}

/* page footer styles */
#mypage_footer {
	background-color: #B02B2C;
	text-align: center;
	color: #FFFFFF;
	padding: 20px;
}

#mypage_footer h3 {
	margin: 0;
	font-size: 1.5em;
}

#mypage_footer a {
	color: #FFFFFF;
	text-decoration: none;
}

#mypage_footer a:hover {
	text-decoration: underline;
}

/* user interaction section styles */
#user_interaction {
	background-color: #FFFFFF;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #FF7400;
	width: 98%;
}

#user_interaction h2 {
	font-size: 1.75em;
	color: #B02B2C;
	margin-bottom: 15px;
}

#interaction_sections {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 16px;
}

@media (max-width: 600px) {
  #interaction_sections {
	display: flex;
    flex-direction: column;
  }
}

.interaction {
	margin-bottom: 20px;
	padding: 15px;
	border: 1px solid #FF7400;
	background-color: #F9F7ED;
}

.interaction h3 {
	color: #D15600;
	font-size: 1.3em;
	margin-top: 0;
}
.interaction input {
	padding: 8px;
	margin: 5px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1em;
	border: 1px solid #B02B2C
}

.interaction input:not([type="button"]) {
	width: 100%;
	max-width: 300px;
}

.interaction input[type="button"] {
	padding: 8px 14px;
	background-color: #D15600;
	color: #FFFFFF;
	cursor: pointer;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1em;
}

.interaction button:hover {
	background-color: #B02B2C;
}

.interaction div {
	display: inline;
	margin: 8px 0;
	padding: 8px;
}

.interaction div span {
	font-weight: bold;
	color: #D15600;
}

#max, #rev, #largest, #saved {
    transition: all 0.2s ease-in-out;
}

/* error message styling*/
div.error {
	display: block;
    color: #B02B2C;
    background-color: #EEEEEE;
    padding: 10px 14px;
    border-left: 4px solid #B02B2C;
}

/* success message styling*/
div.success {
	display: block;
    color: #006E2E;
    background-color: #EEEEEE;
    padding: 10px 14px;
}

